<!doctype html>
<html lang="">
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'intercoolerjs/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'intercoolerjs/js/intercooler.min.js' %}"></script>
    </body>
</html>
