[run]
source = intercooler_helpers
omit =
    intercooler_helpers/tests/*
branch = True
data_file = .coverage
timid = False

[report]
exclude_lines =
    pragma: no cover
precision = 0
show_missing = True
omit =
    intercooler_helpers/tests/*

[xml]
output = coverage.xml
